.todo_list
{
    padding: 0px;
}

.list_item
{
    list-style-type: none;
}

.delete_btn
{
    margin-left: 125px;
}

.footer_hide
{
    visibility: hidden;
}

.footer_show
{
    visibility: visible;
}

.filters
{
    padding: 0px;
}

.filters li
{
    display: inline;
}