
.todo_list
{
    padding-left: 0px;
    list-style-type: none;
}

.delete_btn
{
    margin-left: 104px;
}

.footer_hide
{
    visibility: hidden;
}

.footer_show
{
    visibility: visible;
    display: flex;
}

.filters
{
    margin-top: 0px;
}

.filters li
{
    list-style-type: none;
    display: inline;
}